.topcontainer {
  background-color: #e4f9f5;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  padding: 50px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 3rem 0 1rem;
}

.skill-row{
  width: 50%;
  margin: 50px auto 0 auto;
  text-align: left;
  line-height: 2;
}

.footer-link{
  color:#11999E;
  text-decoration: none;
  line-height: 3;
  font-weight: bold;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.copyright{
  color: #EAF6F6;
}

.profile{
  width: 33%;
  margin: auto;
  line-height: 2;
}


.contact-message{
  width: 40%;
  margin: 40px auto;
}

.profilepic{
  width: 200px;
  height: 230px;
  border-radius: 100%;
}

.cs {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 220px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 220px;
}

.skill-icon1{
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 30px;
}

.skill-icon2{
  width: 150px;
  height: 150px;
  float: right;
  margin-left: 30px;
}

.myButton {
	background-color:#66BFBF;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#11999E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
  line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
  line-height: 2;
}

p{
  color: #40514E;
  font-weight: bold;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr{
  width: 5%;
  height: 0;
  border-style: dotted none none none;
  border-width: 10px;
  border-color:#EAF6F6;
  margin: 100px auto;
}

a{
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  color: #EAF6F6;
}
